header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  margin-top: 40px;

  h1 {
    margin: 0;
    padding: 0;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;

      li {
        display: inline-block;
        margin-left: 20px;

        a {
          &:hover {
            font-size: 20px;
          }
        }
      }
    }
  }
}
